<p style="color: green"><%= notice %></p>

<% content_for :title, "Publications" %>

<h1>Servicios</h1>

<div id="publications">
  <div id="service">
    <% @publications.each do |publication| %>
      <%= render publication %>
      <p>
        <%= link_to "Ver", publication %>
      </p>
    <% end %>
  </div>
</div>

 <%# <%= link_to "New publication", new_publication_path %> 
