<% content_for :title, "New publication" %>
<br>
<h1>Nueva publicación</h1>
<%= render "form", publication: @publication %>
<div>
  <%= link_to "Volver a Inicio", root_path, class:"btn btn-secondary" %>
</div>
