<p style="color: green"><%= notice %></p>

<%= render @request %>

<div class="buttons-container">
  <%= link_to "Regresar a Solicitudes", requests_path, class:"btn btn-secondary" %>
  
  <% if current_user.id == @request.sender_id %>
    <%= button_to "Cancelar Solicitud", @request, method: :delete, class:"btn btn-danger" %>
  <% end %>
</div>