<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">ARTLINK</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Haz tus ideas realidad!</p>
  </div>
</div>

<h1>Servicios</h1>
<%# Aqui debe mostrarse la lista de publicaciones %>